@font-face {
  font-family: "Wooahan";
  src: url("/CK_tc04170000017.ttf");
}

body * {
  font-family: "Wooahan", sans-serif;
}

body{
  margin: 0;
  padding: 0;
  width: 1425px;
  margin-left: auto;
  margin-right: auto;
}
