.write{
    display: flex;
    justify-content: flex-end;
    margin-right: 130px;
    margin-bottom: 20px;
}


.lost-page-container{
    width: 1300px;
    margin: 0 auto;
}

.writeButton{
    display: inline-flex;
    padding: 10px 20px;
    gap: 6px;
    align-items: center;
    border-radius: 10px;
    border: 2px solid rgb(179, 179, 179);
    background-color: whitesmoke;
    cursor: pointer;
}
.writeButton:hover{
    background-color: #9999;
}
