.Footer{
    background-color: darkgray;
    display:  flex;
    align-items: center;
    padding-left: 10vw;
    padding-right: 10vw;
}

.Footer > img{
    width: 80px;
    height: 70px;
    margin : 0 30px;
}