.Footer{
    background-color: darkgray;
    display:  flex;
    align-items: center;

    justify-content: center;
    padding-right: 500px;
}
.Footer > img{
    width: 80px;
    height: 80px;
    margin : 0 30px;
}