.Footer{
    background-color: darkgray;
    display:  flex;
    align-items: center;
    padding-left: 15vw;
    padding-right: 15vw;
}

.Footer > img{
    width: 80px;
    height: 70px;
    margin : 0 30px;
}