.Header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 60px;
  border-bottom: 1px solid #ddd;
}

.Header .Left {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-left: 70px;
}

.Header .Titles {
  display: flex;
  justify-content: center;
  gap:30px;
}

.Header .Main_Header{
  font-size: 90px;
  font-weight: bold;
  margin-top: 40px;
}

.Header .Sub_Header{
  color: rgb(155, 155, 155);
  font-size: 50px;
  margin-top: 80px;
}

.Header .Right{
  display: flex;
  gap: 15px;
  margin-top: 90px
}
