.Top{
    display: flex;
    justify-content: space-between;

}
.Left{
    display: flex;
    cursor: pointer;
}


.Right{
    display: flex;
    gap: 10px;
    justify-content: flex-end;
    padding-top: 60px;
}


.Title .MainTitle{
    margin-bottom: 0px;
    margin-top: 50px;
}

.Title .SubTitle{
    margin-top: 0px;
    margin-bottom: 0px;
}

