.PostSlider{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 40px;
}


.PostSlider > div {
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 5vw;
}

.post{
  font-size: 1vw;
}


.PostSlider img {
  width: 180px;
  height: 180px;
  object-fit: cover;
  border-radius: 10px;
}

