.PostSlider{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 40px;
}


.PostSlider > div {
  width: 100%;
  flex-wrap: wrap; /* 네비게이션 아이템 많을 시 줄바꿈 */
  display: flex;
  justify-content: center;
  gap: 5vw;
}

.post{
  font-size: 15px;
}

.PostSlider img {
  width: 180px;
  height: 180px;
  object-fit: cover;
  border-radius: 10px;
}

