.searchbar{
  display: flex;
  width: 800px;
  height: 60px;
  margin: 30px auto;
  border: 2px solid #ccc;
  border-radius: 20px;
  align-items: center;
  position: relative;
}

.searchbar-left-icon{
  width:40px;
  height: 40px;
  margin-left: 10px;
  margin-right: 10px;
}

.searchbar-input{
  flex-grow: 1;
  border: none;
  outline: none;
  font-size: 18px;
}

.button-area{
  display: flex;
  margin-right: 8px;
  align-items: center;
  
}

.filter-button{
  display: inline-flex;
  align-items: center;
  border:none;
  background-color: white;
  cursor: pointer;
}

.search-button{
  border: none;
  background-color: white;
  cursor: pointer;
  
}